# ==========================
# CF-IP private files
# ==========================

config.json


# ==========================
# Sync scripts
# ==========================

git_sync.sh
git_sync.ps1


# ==========================
# Python
# ==========================

venv/
.venv/

__pycache__/
*.py[cod]


# ==========================
# Runtime
# ==========================

*.log
*.lock
*.bak


# ==========================
# Temporary
# ==========================

*.tmp
*.swp


# ==========================
# Cache
# ==========================

ipinfo_cache.txt
valid_tokens.txt


# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db