# ==========================
# CF-IP private files
# ==========================

config.json

# sync scripts
git_sync.sh
git_sync.ps1

# python virtual environment
venv/
.venv/

# python cache
__pycache__/
*.py[cod]

# runtime
*.log
*.lock
*.bak

# temporary
*.tmp
*.swp

# cache
ipinfo_cache.txt
valid_tokens.txt

# system
.DS_Store
Thumbs.db